* {
    box-sizing: border-box;
    --cor-titulo: #75B79E;
    --cor-carta: #A7E9AF;
    --cor-fundo: #EEF9BF;
    --cor-carta-borda: #99CEA8;

}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo);
}

header {
    color: #75B79E;
    font-size: 28px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);*/
    margin-bottom: 10px;
}

/* Titulo */
header h1 {
    font-weight: 700;
    font-size: 36px;
    color: var(--cor-titulo);
    margin-top: 40px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* Cartas */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.card-image-front,
.card-image-back {
    width: 100px;
    height: 100px;
}

/*img {
    width: 95px;
    height: 95px;
}*/

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border: 1px solid var(--cor-carta-borda);
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 10px;

    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

/*
.card:hover .back-face {
    transform: rotateY(0deg);
}

.card:hover .front-face {
    transform: rotateY(-180deg);
}*/

/* Aplica a rotação ao clicar 
.card.virada {
    transform: rotateY(180deg);
}*/

/* Rotaciona as faces corretamente */
.card.virada .back-face {
    transform: rotateY(0deg);
}

.card.virada .front-face {
    transform: rotateY(-180deg);
}

.escondido {
    display: none;
}

/** midia-query */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 56px;
    }

    .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 765px;
        width: 100%;
    }

    .carta {
        margin: 17px 17px;
    }
}